tcpBindAddress={{ phoebus_services_recceiver_bind_address }}
tcpPort={{ phoebus_services_recceiver_tcp_port }}
tcptimeout={{ phoebus_services_recceiver_tcp_timeout }}
readBufferSize={{ phoebus_services_recceiver_read_buffer_size }}
udpBroadcastAddress={{ phoebus_services_recceiver_udp_broadcast_address }}
udpBroadcastPort={{ phoebus_services_recceiver_udp_broadcast_port }}
announceInterval={{ phoebus_services_recceiver_announce_interval }}

# ChannelFinder integration
recceiver.cf.service.url={{ phoebus_services_recceiver_cf_service_url }}
