[Unit]
Description=Archiver Appliance Server
After=syslog.target network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=forking

User={{ epics_services_account }}
Group={{ epics_services_account }}

Restart=on-failure
RestartSec=5s

Environment=JAVA_HOME="{{ aa_java_home }}"

ExecStart={{ aa_deploy_location}}/{{ aa_script_prefix }}_startup.sh start
ExecStop={{ aa_deploy_location }}/{{ aa_script_prefix }}_startup.sh stop
TimeoutSec=180

[Install]
WantedBy=multi-user.target