<?xml version="1.0" encoding="UTF-8"?>
<!--
  Archiver Appliance cluster configuration with SSL
  
  This file must be identical across all appliances in the cluster.
  Each appliance uses ARCHAPPL_MYIDENTITY to determine which configuration to use.
-->
<appliances>
{% for appliance in aa_cluster_appliances %}
{% set aa_scheme = 'https' if (aa_enable_ssl | bool) else 'http' %}
  <appliance>
    <identity>{{ appliance.identity }}</identity>
    <cluster_inetport>{{ appliance.hostname }}:{{ appliance.cluster_inetport }}</cluster_inetport>
    <mgmt_url>{{ aa_scheme }}://{{ appliance.hostname }}:{{ mgmt_port }}/mgmt/bpl</mgmt_url>
    <engine_url>{{ aa_scheme }}://{{ appliance.hostname }}:{{ engine_port }}/engine/bpl</engine_url>
    <etl_url>{{ aa_scheme }}://{{ appliance.hostname }}:{{ etl_port }}/etl/bpl</etl_url>
    <retrieval_url>{{ aa_scheme }}://{{ appliance.hostname }}:{{ data_retrieval_port }}/retrieval/bpl</retrieval_url>
    <data_retrieval_url>{{ aa_scheme }}://{{ appliance.hostname }}:{{ data_retrieval_port }}/retrieval</data_retrieval_url>
  </appliance>
{% endfor %}
</appliances>
